node_modules/
.env
*.log
.DS_Store
data/admin.json
public/uploads/pdfs/*
public/uploads/audio/*
public/uploads/images/*
!public/uploads/pdfs/.gitkeep
!public/uploads/audio/.gitkeep
!public/uploads/images/.gitkeep
